/* font-family: 'Libre Baskerville', serif; */

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  background-color: lightblue;
  font-family: "Montserrat";
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: grey;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  width: 75%;
  height: auto; 
}


#HASH {
  width: 100%;
}

#HASH div {
  width: 49%;
  display: inline-block;
}

#right {
  text-align: right;
}



/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 45px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */


/* Github */
.fa-github {
  background: #333;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #0077b5;
  color: white;
}

/* Github */
.fa-envelope {
  background: #d44638;
  color: white;
}

